<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title itemprop="name">Created At - Check how old a repository is 👴🏼</title>
  <meta property="og:title" content="Created At - Check how old a Github repository is 👴🏼" />
  <meta name="twitter:title" content="Created At - Check how old a Github repository is 👴🏼" />
  <meta itemprop="name" content="Created At - Check how old a Github repository is 👴🏼" />
  <meta name="application-name" content="Created At - Check how old a Github repository is 👴🏼" />
  <meta property="og:site_name" content="Created At - Check how old a Github repository is 👴🏼" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Check how old a Github repository is 👴🏼 and when it was created.">
  <meta name="description" content="Check how old a Github repository is 👴🏼 and  when it was created." />
  <meta itemprop="description" content="Check how old a Github repository is 👴🏼 and when it was created." />
  <meta property="og:description" content="Check how old a Github repository is 👴🏼 and when it was created." />
  <meta name="twitter:description" content="Check how old a Github repository is 👴🏼 and when it was created." />

  <base href="https://created-at.herokuapp.com/">
  <link rel="canonical" href="https://created-at.herokuapp.com/" itemprop="url" />
  <meta name="url" content="https://created-at.herokuapp.com/" />
  <meta name="twitter:url" content="https://created-at.herokuapp.com/" />
  <meta property="og:url" content="https://created-at.herokuapp.com/" />

  <meta itemprop="image" content="https://cdn.vox-cdn.com/thumbor/917zVksXwuBg1Er7p3EgJLm4myg=/0x0:4492x2000/1400x1400/filters:focal(1385x549:2103x1267):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/52156263/_Adam_s_Creation_Sistine_Chapel_ceiling__by_Michelangelo_JBU33cut.0.jpeg" />
  <meta property="og:image" content="https://cdn.vox-cdn.com/thumbor/917zVksXwuBg1Er7p3EgJLm4myg=/0x0:4492x2000/1400x1400/filters:focal(1385x549:2103x1267):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/52156263/_Adam_s_Creation_Sistine_Chapel_ceiling__by_Michelangelo_JBU33cut.0.jpeg" />
  <meta name="twitter:image" content="https://cdn.vox-cdn.com/thumbor/917zVksXwuBg1Er7p3EgJLm4myg=/0x0:4492x2000/1400x1400/filters:focal(1385x549:2103x1267):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/52156263/_Adam_s_Creation_Sistine_Chapel_ceiling__by_Michelangelo_JBU33cut.0.jpeg" />
  <meta name="twitter:image:src" content="https://cdn.vox-cdn.com/thumbor/917zVksXwuBg1Er7p3EgJLm4myg=/0x0:4492x2000/1400x1400/filters:focal(1385x549:2103x1267):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/52156263/_Adam_s_Creation_Sistine_Chapel_ceiling__by_Michelangelo_JBU33cut.0.jpeg" />

  <meta name="keywords" content="repository, github, age, check how old, how old is repository, view repository age, check repository age, check github repository age, see github repository age, how old is a repository, how old is github repository, " />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Xanh+Mono&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="https://cdn.vox-cdn.com/thumbor/917zVksXwuBg1Er7p3EgJLm4myg=/0x0:4492x2000/1400x1400/filters:focal(1385x549:2103x1267):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/52156263/_Adam_s_Creation_Sistine_Chapel_ceiling__by_Michelangelo_JBU33cut.0.jpeg" type="image/x-icon">
  <title>Created At</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
    }
    .container {
      height: inherit;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    input {
      padding: 15px;
      width: 22rem;
    }
    input:focus {
      outline: none !important;
      border:2px solid bisque;
      box-shadow: 0 0 10px bisque;
      border-radius: none;
    }
    ::selection {
      background-color: bisque;
    }
    h1 {
      font-family: 'Amatic SC', cursive;
      font-size: 4rem;
      margin: 0;
    }
    .tagline {
      font-family: 'Xanh Mono', monospace;
      font-weight: 500;
      background-color: bisque;
    }
    p {
      font-family: 'Xanh Mono', monospace;
    }
    .action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #f8f8f8;
      /*background-image: url('https://i.pinimg.com/originals/ef/8b/2a/ef8b2ad40498aa24ca1467590710c507.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;*/
      height: inherit;
      text-align: center;
      align-items: center;
      width: 100%;
    }
    .search {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .age {
      font-family: 'Amatic SC', cursive;
      text-align: right;
      padding-right: 2rem;
      font-size: 20px;
      color: #6d6d6d;
    }
    .image {
      height: inherit;
      width: 100%;
      background-image: url('https://cdn.vox-cdn.com/thumbor/917zVksXwuBg1Er7p3EgJLm4myg=/0x0:4492x2000/1400x1400/filters:focal(1385x549:2103x1267):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/52156263/_Adam_s_Creation_Sistine_Chapel_ceiling__by_Michelangelo_JBU33cut.0.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .bg-blur {
      box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
      filter: blur(10px);
      background-image: inherit;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: inherit;
      width: inherit;
      position: relative;
      disp
    }
    .action-btn {
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }
    .action-btn button {
      padding: 10px;
      font-family: 'Amatic SC', cursive;
      width: 30%;
      font-size: 17px;
      cursor: pointer;
      background-color: #000;
      color: #FFF;
      border: none;
      transition: 0.3s;
      outline: none;
    }
    .action-btn button:hover {
      background-color: bisque;
      color: #000;
      box-shadow: 10px 5px 0px black;
    }
    .repo_avatar {
      height: 50px;
      width: 50px;
      border: 2px solid bisque;
    }
    a {
      color: #000;
    }
    .card {
      background-color: #FFF;
      width: 70%;
      min-height: 6rem;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 10px 5px 0px black;
    }
    .card-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .date {
      font-size: 16px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .card-image {
      display: flex;
    }
    .repo_avatar {
      border-radius: 50%;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="image" id="image"></div>
    <div class="action">
      <h1>~ Created AT ~</h1>
      <p class="tagline">Discover when a repository was created</p>
      <div class="search">
        <input id="url" type="text" placeholder="Paste repository URL">
      </div>
      <div class="action-btn">
        <button onclick="fetchData()" class="btn">Show Me!</button>
      </div>

    </div>
  </div>

  <script>
    function fetchData() {

      // hide card
      // document.getElementById('card').style.display = 'none';
      const cardContainer = document.getElementById('image')
      const template = document.createElement('template');
      const card = document.getElementById('card');
      const url = document.getElementById('url').value.replace('.git', '')

      if (!url) {
        return false;
      }
      const pathArray = url.split('/');
      const path = `${pathArray[pathArray.length - 2]}/${pathArray[pathArray.length - 1]}`
      console.log(`https://api.github.com/repos/${path}`)

      if (card) {
        card.remove()
      }
      fetch(`/get-data?url=https://api.github.com/repos/${path}`)
        .then((response) => response.json())
        .then(data => {

          let value = `
            <div class="card" id="card">
              <div class="card-container">
                <div class="card-image">
                  <img class="repo_avatar" src="${data.avatar}" alt="">
                  <p style="margin-left: 10px;"><a href="${data.html_url}">${trunCate(data.full_name, 10)}</a></p>
                </div>
                <div class="date">${data.created_at}</div>
              </div>
              <div class="age">
                Created ${data.how_old === 0 ? 'This Year' : `${data.how_old} Years ago` }
              </div>
            </div>
          `;
          value = value.trim();
          template.innerHTML = value
          cardContainer.appendChild(template.content.firstChild)
        })
    }
    function trunCate(val, length) {
      if (val.length > length) {
        return `${val.substr(0, length)}...`
      }
      return val
    }
  </script>
</body>
</html>
