body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.container {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
input {
  padding: 15px;
  width: 22rem;
}
input:focus {
  outline: none !important;
  border:2px solid bisque;
  box-shadow: 0 0 10px bisque;
  border-radius: none;
}
::selection {
  background-color: bisque;
}
h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  margin: 0;
}
.tagline {
  font-family: 'Xanh Mono', monospace;
  font-weight: 500;
  background-color: bisque;
}
p {
  font-family: 'Xanh Mono', monospace;
}
.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f8;
  height: inherit;
  text-align: center;
  align-items: center;
  width: 100%;
}
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.age {
  font-family: 'Amatic SC', cursive;
  text-align: right;
  padding-right: 2rem;
  font-size: 20px;
  color: #6d6d6d;
}
.image {
  height: inherit;
  width: 100%;
  background-image: url('https://cdn.vox-cdn.com/thumbor/917zVksXwuBg1Er7p3EgJLm4myg=/0x0:4492x2000/1400x1400/filters:focal(1385x549:2103x1267):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/52156263/_Adam_s_Creation_Sistine_Chapel_ceiling__by_Michelangelo_JBU33cut.0.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bg-blur {
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
  filter: blur(10px);
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: inherit;
  width: inherit;
  position: relative;
  disp
}
.action-btn {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.action-btn button {
  padding: 10px;
  font-family: 'Amatic SC', cursive;
  width: 30%;
  font-size: 17px;
  cursor: pointer;
  background-color: #000;
  color: #FFF;
  border: none;
  transition: 0.3s;
  outline: none;
}
.action-btn button:hover {
  background-color: bisque;
  color: #000;
  box-shadow: 10px 5px 0px black;
}
.repo_avatar {
  height: 50px;
  width: 50px;
  border: 2px solid bisque;
}
a {
  color: #000;
}
.card {
  background-color: #FFF;
  width: 70%;
  min-height: 6rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 5px 0px black;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.date {
  font-size: 16px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-image {
  display: flex;
}
.repo_avatar {
  border-radius: 50%;
}
