/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .container {
      flex-direction: column;
    }
    .image {
      flex: 1;
    }
    .action {
      flex: 2;
    }
    .card-container {
      flex-direction: column;
    }
    .card-image {
      width: 100%;
    }
    .date {
      font-size: 15px;
    }
    .card {
      width: 90%;
    }
}
